<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Num:</strong>
    <%= pokemon.num %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= pokemon.poke_type %>
  </p>

  <p>
    <strong>Evolves:</strong>
    <%= pokemon.evolves %>
  </p>

</div>
